.map {
  height: 100%;
  width: 100%;
  padding: 0;
}

.mat-grid-tile .mat-figure {
  justify-content: flex-start !important ;
  align-items: flex-start !important;
}

mat-form-field {
  width: 250px;
}

mat-list {
  width: 100%;
}

//mat-list-item {
//  margin-bottom: 8px;
//}

mat-checkbox {
  margin-right: 15px;
}

span.label {
  width: 100px;
}

span.sliderVal {
  width: 100px;
  margin-left: 10px;
}
